.tkt-bookability-state-wrapper {
  [data-bookability-ids] {
    .show-while-loading {
      display: none;
    }
    .show-if-bookable {
      display: none;
    }
    .show-if-almost-not-bookable {
      display: none;
    }
    .show-if-not-bookable {
      display: none;
    }
    .show-if-not-sold-here {
      display: none;
    }

    &.bookable {
      .show-if-bookable {
        display: inline-block !important;
      }
    }
    &.almost-not-bookable {
      .show-if-almost-not-bookable {
        display: inline-block !important;
      }
    }
    &.not-bookable {
      .show-if-not-bookable {
        display: inline-block !important;
      }
    }
    &.not-sold-here {
      .show-if-not-sold-here {
        display: inline-block !important;
      }
      .show-if-not-bookable {
        display: inline-block !important;
      }
    }
    &.not-bookable-with-tkt {
      .show-if-not-bookable {
        display: inline-block !important;
      }
      .assertive {
        display: none !important;
      }
    }
  }

  &.loading-bookability-state {
    [data-bookability-ids] {
      .show-while-loading {
        display: inline-block;
      }
    }
  }
}
