.booking-form {
  .dates-form {
    margin-top: 1.5rem;

    span.dates-title {
      margin-top: 0.5rem;
      display: block;
      font-size: 1.3rem;
    }

    .dates-wrapper {
      border: 1px solid $base_color;
      padding: 0.5rem;
      float: left;

      .date-wrapper {
        cursor: pointer;

        span.date {
          font-size: 1.2rem;
          text-transform: uppercase;
        }
      }
    }
  }
  .tickets-form {
    margin-top: 1.5rem;

    .pricings-form {
      span.tickets-title {
        font-size: 1.3rem;
      }

      .pricing-row {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        .pricing-name {
          text-transform: uppercase;
          font-size: 1.3rem;
          font-weight: normal;
        }
        .pricing-price {
          font-size: 1.3rem;
        }
        .pricing-input {
          width: 40px;
        }
      }
      .add-to-cart-btn {
        margin-top: 1rem;
      }
    }
    .pass-form {
      max-width: 440px;
      margin-top: 2rem;

      .connect-panel {
        span.pass-title {
          font-size: 1.3rem;
        }
        .connect-panel-form {
          .pass-number {
            font-size: 1.3rem;
          }
          .pass-number-input { }
          .pass-key {
            font-size: 1.3rem;
          }
          .pass-key-input { }
          .connect-btn {
            margin-top: 0.5rem;
          }
        }
      }
      .book-panel {
        .book-btn {

        }
        .show-bookings-btn {
          margin-top: 1rem;
        }
      }
    }
  }
  .success-panel {
    margin-top: 1.9rem;
    .success-title {

    }
    .continue-shopping {
      margin-top: 1rem;
    }
  }
}
