.booking-form {
    display: flex;
    flex-direction: column;
    .dates-form {
        flex: 1;
        margin-top: 0;
        padding-right: 1rem;

        .single-date {
            font-weight: bold;
            text-decoration: underline;
            margin-bottom: 10px;
            display: inline-block;
        }

        .days-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;

            .day {
                margin: 0.25rem;
                width: calc(25% - 0.5rem);
                text-align: center;
                cursor: pointer;
            }

            .flatpickr-rContainer {
                width: 100%;
            }

            .flatpickr-calendar.animate.inline {
                width: 100%;
            }

            .flatpickr-days {
                width: 100%;
            }

            .dayContainer {
                min-width: 100% !important;
                text-align: center;
            }

            .flatpickr-day {
                max-width: 12%;
                margin: 3px;
                border-radius: 4px;
                border: 2px solid #f1f1f1
            }

            .flatpickr-monthDropdown-months {
                width: 50% !important;
                text-align: center;
            }

            .numInputWrapper {
               width: 50%;
            }

            .numInput.cur-year {
                text-align: center;
            }

            .tkt-input.form-control.data-field.input {
                text-align: center;
            }

            input.tkt-input.form-control.data-field.input {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                border: none;
            }

            .flatpickr-calendar.inline {
                display: block;
                position: relative;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                top: 0;
                margin-left: 1px;
                margin-right: 1px;
            }
        }

        .dates-wrapper {
            border: none;
            padding: 0;
            float: none;
            height: auto;
            overflow-y: visible;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;

            .date {
                margin: 0.25rem;
                width: calc(25% - 0.5rem);
                text-align: center;
                cursor: pointer;
            }
        }
    }
    .tickets-form {
        flex: 1;
        padding-right: 1rem;
        margin-top: 0;

        .pricings-form {
            .pricing-row {
                margin-top: 0;
                margin-bottom: 0.5rem;

                .tkt-badge-split {
                    .tkt-badge-part {
                        .pricing-qty {
                            font-weight: bold;
                        }
                        .pricing-name {}
                        .pricing-price {}

                        &.tkt-minus-btn,
                        &.tkt-plus-btn {
                            cursor: pointer;
                            font-weight: bold;
                            padding: 0 15px;
                            font-size: 25px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
            .add-to-cart-btn { }
        }

        .book-panel {
            .ticket-wrapper {
                border: 1px solid #F0F0F0;
                border-radius: 4px;
                margin-bottom: 5px;
                background: #FAFAFA;
                padding: 5px;

                &:hover {
                    background: #F0F0F0;
                    border-color: #E8E8E8;
                }

                .ticket-infos {
                    a {
                        text-decoration: none;
                        color: #000000;
                    }
                    .already-booked {
                        padding-left: 10px;
                    }
                }

                .book-btns {
                    .book-btn, .book-btn-more {
                        height: 100%;
                    }
                }
            }
        }
    }
    .success-panel {
        flex: 1;
        padding-right: 1rem;
    }

    &.screenings-list {
        display: flex;
        flex-direction: column;
        .dates-form {
            flex: 1;
            margin-top: 0;
            padding-right: 1rem;


            .dates-wrapper {
                border: none;
                padding: 0;
                float: none;
                height: auto;
                overflow-y: visible;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                flex-wrap: wrap;

                .date {
                    margin: 0;
                    width: 100%;
                    text-align: center;
                    cursor: pointer;
                }
            }
        }
        .tickets-form {
            flex: 1;
            padding-right: 0;
            margin-top: 0.5rem;

            .pricings-form {
                .pricing-row {
                    margin-top: 0;
                    margin-bottom: 0.5rem;
                    border-bottom: 1px solid #A0A0A0;

                    &:last-child {
                        border-bottom: none;
                    }

                    .tkt-badge-split {
                        .tkt-badge-part {
                            padding: 0px 15px;
                            flex: 1;
                            line-height: 24px;
                            font-size: 14px;

                            .pricing-qty { font-weight: normal; }
                            .pricing-name {}
                            .pricing-price {}

                            &.tkt-minus-btn, &.tkt-plus-btn {
                                cursor: pointer;
                                font-weight: bold;
                                padding: 0 15px;
                                font-size: 20px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }
                .add-to-cart-btn { }
            }
        }
        .success-panel {
            flex: 1;
            padding-right: 1rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .booking-form {
        flex-direction: column;
        .dates-form {
            .days-wrapper {
                .day {
                    width: 100%;
                }
            }

            .dates-wrapper {
                .date {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .tickets-form {
        .pricings-form {
            .pricing-row {
                .tkt-badge-split {
                    .tkt-badge-part {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}
