.tkt-days-filters {
    margin: 0 auto !important;
    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        li {
            flex: 1;
            text-align: center;
            border: 1px solid #e0e0e0;
            border-left: none;
            background-color: $dark_color;
            &:first-child {
                border-left: 1px solid #e0e0e0;
            }
            a {
                text-decoration: none !important;
                color: $light_color;
                span.tkt-day-filter-day {

                }
                span.tkt-day-filter-date {

                }
                &:hover {
                    color: $light_color;
                }
            }
            &.active {
                background-color: $grey_color;
            }
        }
    }
}
