.tkt-days-filters {
    margin: 0 auto !important;
    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            flex: 1;
            text-align: center;
            border: 1px solid #e0e0e0;
            border-left: none;
            background-color: $badge_bg_color;
            padding: 0.75rem 0;
            &:first-child {
                border-left: 1px solid #e0e0e0;
            }
            a {
                text-decoration: none !important;
                color: $text_color;
                span.tkt-day-filter-day {}
                span.tkt-day-filter-date {}
            }
            &.active {
                background-color: $active_color;
            }
        }
    }
}
