.tkt-ticket-connect {
    .ticket-infos {
        text-align: center;
        display: block;
        margin-bottom: 0.5rem;
    }
    .connect-panel {
        text-align: center;

        input#pass-id, input#pass-code {
            width: 40%;
            height: 40px;
        }
        .input-pass {
            justify-content: center;
        }
        .ticketid_ticket {
            font-family: Roboto,"Segoe UI", "Helvetica Neue",Arial,"Noto Sans",sans-serif;
            color: #e34449;
        }
        .ticketid_id {
            font-family: Roboto,"Segoe UI", "Helvetica Neue",Arial,"Noto Sans",sans-serif;
            color: #000;
            font-style: italic;
            font-weight: bold;
        }
        span {
            line-height: 1.2rem;
        }
        input {
            width: 100%;
            margin-top: 0.6rem;

            &.pass-key-input {}
            &.pass-number-input {}
        }

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: lighten($text_color, 20%);
            opacity: 1; /* Firefox */
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: lighten($text_color, 20%);
        }

        ::-ms-input-placeholder { /* Microsoft Edge */
            color: lighten($text_color, 20%);
        }

        .connect-btn {
            margin-top: 0.6rem;
            margin-bottom: 0.8rem;
        }
    }
}
