.tkt-user-connect {
    .user-infos {
        text-align: center;
        text-transform: uppercase;
        display: block;
        margin-bottom: 0.5rem;
    }
    .connect-panel {
        text-align: center;

        span {
            text-transform: uppercase;
            line-height: 1.2rem;
            display: block;
        }
        input {
            width: 100%;
            margin-top: 0.6rem;

            &.pass-key-input {}
            &.pass-number-input {}
        }

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: lighten($text_color, 20%);
            opacity: 1; /* Firefox */
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: lighten($text_color, 20%);
        }

        ::-ms-input-placeholder { /* Microsoft Edge */
            color: lighten($text_color, 20%);
        }

        .connect-btn {
            margin-top: 0.6rem;
            margin-bottom: 0.8rem;
        }
    }
}
