$tkt-icon-font-family: "tkt-icons" !default;
$tkt-icon-font-path: "./fonts" !default;

@font-face {
  font-family: '#{$tkt-icon-font-family}';
  src:  url('#{$tkt-icon-font-path}/#{$tkt-icon-font-family}.eot?r1zrjg');
  src:  url('#{$tkt-icon-font-path}/#{$tkt-icon-font-family}.eot?r1zrjg#iefix') format('embedded-opentype'),
    url('#{$tkt-icon-font-path}/#{$tkt-icon-font-family}.ttf?r1zrjg') format('truetype'),
    url('#{$tkt-icon-font-path}/#{$tkt-icon-font-family}.woff?r1zrjg') format('woff'),
    url('#{$tkt-icon-font-path}/#{$tkt-icon-font-family}.svg?r1zrjg##{$tkt-icon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="tkt-icon-"], [class*=" tkt-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$tkt-icon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icon-info: "\ea0c";

.tkt-icon-info {
  &:before {
    content: $icon-info; 
  }
}