$tkt-icon-font-family: "tkt-icon" !default;
$tkt-icon-font-path: "./fonts" !default;

@font-face {
  font-family: '#{$tkt-icon-font-family}';
  src:  url('#{$tkt-icon-font-path}/#{$tkt-icon-font-family}.eot');
  src:  url('#{$tkt-icon-font-path}/#{$tkt-icon-font-family}.eot#iefix') format('embedded-opentype'),
    url('#{$tkt-icon-font-path}/#{$tkt-icon-font-family}.ttf') format('truetype'),
    url('#{$tkt-icon-font-path}/#{$tkt-icon-font-family}.woff') format('woff'),
    url('#{$tkt-icon-font-path}/#{$tkt-icon-font-family}.svg##{$tkt-icon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="tkt-icon-"], [class*=" tkt-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$tkt-icon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icon-plus: unquote('"\\f067"');
$icon-question: unquote('"\\f128"');
$icon-minus: unquote('"\\f068"');
$icon-search: unquote('"\\f002"');
$icon-envelope-o: unquote('"\\f003"');
$icon-star: unquote('"\\f005"');
$icon-star-o: unquote('"\\f006"');
$icon-user: unquote('"\\f007"');
$icon-film: unquote('"\\f008"');
$icon-th-large: unquote('"\\f009"');
$icon-th: unquote('"\\f00a"');
$icon-th-list: unquote('"\\f00b"');
$icon-check: unquote('"\\f00c"');
$icon-close: unquote('"\\f00d"');
$icon-remove: unquote('"\\f00d"');
$icon-times: unquote('"\\f00d"');
$icon-search-plus: unquote('"\\f00e"');
$icon-search-minus: unquote('"\\f010"');
$icon-power-off: unquote('"\\f011"');
$icon-trash-o: unquote('"\\f014"');
$icon-home: unquote('"\\f015"');
$icon-clock-o: unquote('"\\f017"');
$icon-download: unquote('"\\f019"');
$icon-arrow-circle-o-down: unquote('"\\f01a"');
$icon-arrow-circle-o-up: unquote('"\\f01b"');
$icon-play-circle-o: unquote('"\\f01d"');
$icon-repeat: unquote('"\\f01e"');
$icon-rotate-right: unquote('"\\f01e"');
$icon-refresh: unquote('"\\f021"');
$icon-lock: unquote('"\\f023"');
$icon-qrcode: unquote('"\\f029"');
$icon-tag: unquote('"\\f02b"');
$icon-tags: unquote('"\\f02c"');
$icon-camera: unquote('"\\f030"');
$icon-align-justify: unquote('"\\f039"');
$icon-list: unquote('"\\f03a"');
$icon-video-camera: unquote('"\\f03d"');
$icon-image: unquote('"\\f03e"');
$icon-photo: unquote('"\\f03e"');
$icon-picture-o: unquote('"\\f03e"');
$icon-check-square-o: unquote('"\\f046"');
$icon-arrows: unquote('"\\f047"');
$icon-chevron-left: unquote('"\\f053"');
$icon-chevron-right: unquote('"\\f054"');
$icon-plus-circle: unquote('"\\f055"');
$icon-minus-circle: unquote('"\\f056"');
$icon-times-circle: unquote('"\\f057"');
$icon-check-circle: unquote('"\\f058"');
$icon-question-circle: unquote('"\\f059"');
$icon-info-circle: unquote('"\\f05a"');
$icon-crosshairs: unquote('"\\f05b"');
$icon-times-circle-o: unquote('"\\f05c"');
$icon-check-circle-o: unquote('"\\f05d"');
$icon-ban: unquote('"\\f05e"');
$icon-arrow-left: unquote('"\\f060"');
$icon-arrow-right: unquote('"\\f061"');
$icon-arrow-up: unquote('"\\f062"');
$icon-arrow-down: unquote('"\\f063"');
$icon-exclamation-circle: unquote('"\\f06a"');
$icon-eye: unquote('"\\f06e"');
$icon-eye-slash: unquote('"\\f070"');
$icon-calendar: unquote('"\\f073"');
$icon-chevron-up: unquote('"\\f077"');
$icon-chevron-down: unquote('"\\f078"');
$icon-retweet: unquote('"\\f079"');
$icon-shopping-cart: unquote('"\\f07a"');
$icon-sign-out: unquote('"\\f08b"');
$icon-sign-in: unquote('"\\f090"');
$icon-phone: unquote('"\\f095"');
$icon-credit-card: unquote('"\\f09d"');
$icon-arrow-circle-left: unquote('"\\f0a8"');
$icon-arrow-circle-right: unquote('"\\f0a9"');
$icon-arrow-circle-up: unquote('"\\f0aa"');
$icon-arrow-circle-down: unquote('"\\f0ab"');
$icon-arrows-alt: unquote('"\\f0b2"');
$icon-bars: unquote('"\\f0c9"');
$icon-navicon: unquote('"\\f0c9"');
$icon-reorder: unquote('"\\f0c9"');
$icon-list-ul: unquote('"\\f0ca"');
$icon-list-ol: unquote('"\\f0cb"');
$icon-caret-down: unquote('"\\f0d7"');
$icon-caret-up: unquote('"\\f0d8"');
$icon-caret-left: unquote('"\\f0d9"');
$icon-caret-right: unquote('"\\f0da"');
$icon-sort: unquote('"\\f0dc"');
$icon-unsorted: unquote('"\\f0dc"');
$icon-sort-desc: unquote('"\\f0dd"');
$icon-sort-down: unquote('"\\f0dd"');
$icon-sort-asc: unquote('"\\f0de"');
$icon-sort-up: unquote('"\\f0de"');
$icon-exchange: unquote('"\\f0ec"');
$icon-cloud-download: unquote('"\\f0ed"');
$icon-cloud-upload: unquote('"\\f0ee"');
$icon-angle-left: unquote('"\\f104"');
$icon-angle-right: unquote('"\\f105"');
$icon-angle-up: unquote('"\\f106"');
$icon-angle-down: unquote('"\\f107"');
$icon-tablet: unquote('"\\f10a"');
$icon-mobile: unquote('"\\f10b"');
$icon-mobile-phone: unquote('"\\f10b"');
$icon-spinner: unquote('"\\f110"');
$icon-info: unquote('"\\f129"');
$icon-exclamation: unquote('"\\f12a"');
$icon-chevron-circle-left: unquote('"\\f137"');
$icon-chevron-circle-right: unquote('"\\f138"');
$icon-chevron-circle-up: unquote('"\\f139"');
$icon-chevron-circle-down: unquote('"\\f13a"');
$icon-unlock-alt: unquote('"\\f13e"');
$icon-ticket: unquote('"\\f145"');
$icon-minus-square: unquote('"\\f146"');
$icon-minus-square-o: unquote('"\\f147"');
$icon-level-up: unquote('"\\f148"');
$icon-level-down: unquote('"\\f149"');
$icon-check-square: unquote('"\\f14a"');
$icon-sort-alpha-desc: unquote('"\\f15e"');
$icon-sort-amount-asc: unquote('"\\f160"');
$icon-sort-amount-desc: unquote('"\\f161"');
$icon-sort-numeric-asc: unquote('"\\f162"');
$icon-sort-numeric-desc: unquote('"\\f163"');
$icon-thumbs-up: unquote('"\\f164"');
$icon-thumbs-down: unquote('"\\f165"');
$icon-long-arrow-down: unquote('"\\f175"');
$icon-long-arrow-up: unquote('"\\f176"');
$icon-long-arrow-left: unquote('"\\f177"');
$icon-long-arrow-right: unquote('"\\f178"');
$icon-trash: unquote('"\\f1f8"');
$icon-cart-plus: unquote('"\\f217"');
$icon-cart-arrow-down: unquote('"\\f218"');
$icon-user-plus: unquote('"\\f234"');
$icon-user-times: unquote('"\\f235"');
$icon-bed: unquote('"\\f236"');
$icon-hotel: unquote('"\\f236"');
$icon-train: unquote('"\\f238"');
$icon-subway: unquote('"\\f239"');
$icon-wheelchair-alt: unquote('"\\f29b"');
$icon-question-circle-o: unquote('"\\f29c"');
$icon-blind: unquote('"\\f29d"');
$icon-assistive-listening-systems: unquote('"\\f2a2"');
$icon-deaf: unquote('"\\f2a4"');
$icon-deafness: unquote('"\\f2a4"');
$icon-hard-of-hearing: unquote('"\\f2a4"');
$icon-low-vision: unquote('"\\f2a8"');
$icon-address-book: unquote('"\\f2b9"');
$icon-address-book-o: unquote('"\\f2ba"');
$icon-user-o: unquote('"\\f2c0"');
$icon-drivers-license: unquote('"\\f2c2"');
$icon-id-card: unquote('"\\f2c2"');
$icon-drivers-license-o: unquote('"\\f2c3"');
$icon-id-card-o: unquote('"\\f2c3"');

.tkt-wrapper .fa-1x,
.tkt-1x {
  font-size: 1em;
}
.tkt-wrapper .fa-2x,
.tkt-2x {
  font-size: 2em;
}
.tkt-wrapper .fa-3x,
.tkt-3x {
  font-size: 3em;
}
.tkt-wrapper .fa-4x,
.tkt-4x {
  font-size: 4em;
}
.tkt-wrapper .fa-5x,
.tkt-5x {
  font-size: 5em;
}

.tkt-wrapper .fa-spin,
.tkt-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.tkt-wrapper .fa.fa-plus,
.tkt-icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.tkt-icon-question {
  &:before {
    content: $icon-question;
  }
}
.tkt-icon-minus {
  &:before {
    content: $icon-minus;
  }
}
.tkt-icon-search {
  &:before {
    content: $icon-search;
  }
}
.tkt-icon-envelope-o {
  &:before {
    content: $icon-envelope-o;
  }
}
.tkt-wrapper .fa.fa-star,
.tkt-icon-star {
  &:before {
    content: $icon-star;
  }
}
.tkt-icon-star-o {
  &:before {
    content: $icon-star-o;
  }
}
.tkt-wrapper .fa.fa-user,
.tkt-icon-user {
  &:before {
    content: $icon-user;
  }
}
.tkt-icon-film {
  &:before {
    content: $icon-film;
  }
}
.tkt-icon-th-large {
  &:before {
    content: $icon-th-large;
  }
}
.tkt-icon-th {
  &:before {
    content: $icon-th;
  }
}
.tkt-wrapper .fa.fa-th-list,
.tkt-icon-th-list {
  &:before {
    content: $icon-th-list;
  }
}
.tkt-wrapper .fa.fa-check,
.tkt-icon-check {
  &:before {
    content: $icon-check;
  }
}
.tkt-icon-close {
  &:before {
    content: $icon-close;
  }
}
.tkt-icon-remove {
  &:before {
    content: $icon-remove;
  }
}
.tkt-icon-times {
  &:before {
    content: $icon-times;
  }
}
.tkt-icon-search-plus {
  &:before {
    content: $icon-search-plus;
  }
}
.tkt-icon-search-minus {
  &:before {
    content: $icon-search-minus;
  }
}
.tkt-icon-power-off {
  &:before {
    content: $icon-power-off;
  }
}
.tkt-icon-trash-o {
  &:before {
    content: $icon-trash-o;
  }
}
.tkt-icon-home {
  &:before {
    content: $icon-home;
  }
}
.tkt-wrapper .fa.fa-clock,
.tkt-icon-clock-o {
  &:before {
    content: $icon-clock-o;
  }
}
.tkt-wrapper .fa.fa-download,
.tkt-icon-download {
  &:before {
    content: $icon-download;
  }
}
.tkt-icon-arrow-circle-o-down {
  &:before {
    content: $icon-arrow-circle-o-down;
  }
}
.tkt-icon-arrow-circle-o-up {
  &:before {
    content: $icon-arrow-circle-o-up;
  }
}
.tkt-icon-play-circle-o {
  &:before {
    content: $icon-play-circle-o;
  }
}
.tkt-icon-repeat {
  &:before {
    content: $icon-repeat;
  }
}
.tkt-icon-rotate-right {
  &:before {
    content: $icon-rotate-right;
  }
}
.tkt-icon-refresh {
  &:before {
    content: $icon-refresh;
  }
}
.tkt-wrapper .fa.fa-lock,
.tkt-icon-lock {
  &:before {
    content: $icon-lock;
  }
}
.tkt-icon-qrcode {
  &:before {
    content: $icon-qrcode;
  }
}
.tkt-wrapper .fa.fa-tag,
.tkt-icon-tag {
  &:before {
    content: $icon-tag;
  }
}
.tkt-wrapper .fa.fa-tags,
.tkt-icon-tags {
  &:before {
    content: $icon-tags;
  }
}
.tkt-wrapper .fa.fa-camera,
.tkt-icon-camera {
  &:before {
    content: $icon-camera;
  }
}
.tkt-icon-align-justify {
  &:before {
    content: $icon-align-justify;
  }
}
.tkt-wrapper .fa.fa-list,
.tkt-icon-list {
  &:before {
    content: $icon-list;
  }
}
.tkt-icon-video-camera {
  &:before {
    content: $icon-video-camera;
  }
}
.tkt-wrapper .fa.fa-image,
.tkt-icon-image {
  &:before {
    content: $icon-image;
  }
}
.tkt-icon-photo {
  &:before {
    content: $icon-photo;
  }
}
.tkt-icon-picture-o {
  &:before {
    content: $icon-picture-o;
  }
}
.tkt-icon-check-square-o {
  &:before {
    content: $icon-check-square-o;
  }
}
.tkt-icon-arrows {
  &:before {
    content: $icon-arrows;
  }
}
.tkt-icon-chevron-left {
  &:before {
    content: $icon-chevron-left;
  }
}
.tkt-wrapper .fa.fa-chevron-right,
.tkt-icon-chevron-right {
  &:before {
    content: $icon-chevron-right;
  }
}
.tkt-icon-plus-circle {
  &:before {
    content: $icon-plus-circle;
  }
}
.tkt-icon-minus-circle {
  &:before {
    content: $icon-minus-circle;
  }
}
.tkt-icon-times-circle {
  &:before {
    content: $icon-times-circle;
  }
}
.tkt-icon-check-circle {
  &:before {
    content: $icon-check-circle;
  }
}
.tkt-icon-question-circle {
  &:before {
    content: $icon-question-circle;
  }
}
.tkt-icon-info-circle {
  &:before {
    content: $icon-info-circle;
  }
}
.tkt-icon-crosshairs {
  &:before {
    content: $icon-crosshairs;
  }
}
.tkt-icon-times-circle-o {
  &:before {
    content: $icon-times-circle-o;
  }
}
.tkt-icon-check-circle-o {
  &:before {
    content: $icon-check-circle-o;
  }
}
.tkt-icon-ban {
  &:before {
    content: $icon-ban;
  }
}
.tkt-icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}
.tkt-icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.tkt-icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}
.tkt-icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.tkt-icon-exclamation-circle {
  &:before {
    content: $icon-exclamation-circle;
  }
}
.tkt-wrapper .fa.fa-eye,
.tkt-icon-eye {
  &:before {
    content: $icon-eye;
  }
}
.tkt-icon-eye-slash {
  &:before {
    content: $icon-eye-slash;
  }
}
.tkt-wrapper .fa.fa-calendar,
.tkt-icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.tkt-icon-chevron-up {
  &:before {
    content: $icon-chevron-up;
  }
}
.tkt-icon-chevron-down {
  &:before {
    content: $icon-chevron-down;
  }
}
.tkt-icon-retweet {
  &:before {
    content: $icon-retweet;
  }
}
.tkt-icon-shopping-cart {
  &:before {
    content: $icon-shopping-cart;
  }
}
.tkt-wrapper .fa.fa-sign-out-alt,
.tkt-icon-sign-out {
  &:before {
    content: $icon-sign-out;
  }
}
.tkt-wrapper .fa.fa-sign-in-alt,
.tkt-icon-sign-in {
  &:before {
    content: $icon-sign-in;
  }
}
.tkt-icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.tkt-icon-credit-card {
  &:before {
    content: $icon-credit-card;
  }
}
.tkt-icon-arrow-circle-left {
  &:before {
    content: $icon-arrow-circle-left;
  }
}
.tkt-icon-arrow-circle-right {
  &:before {
    content: $icon-arrow-circle-right;
  }
}
.tkt-icon-arrow-circle-up {
  &:before {
    content: $icon-arrow-circle-up;
  }
}
.tkt-icon-arrow-circle-down {
  &:before {
    content: $icon-arrow-circle-down;
  }
}
.tkt-icon-arrows-alt {
  &:before {
    content: $icon-arrows-alt;
  }
}
.tkt-icon-bars {
  &:before {
    content: $icon-bars;
  }
}
.tkt-icon-navicon {
  &:before {
    content: $icon-navicon;
  }
}
.tkt-icon-reorder {
  &:before {
    content: $icon-reorder;
  }
}
.tkt-icon-list-ul {
  &:before {
    content: $icon-list-ul;
  }
}
.tkt-icon-list-ol {
  &:before {
    content: $icon-list-ol;
  }
}
.tkt-icon-caret-down {
  &:before {
    content: $icon-caret-down;
  }
}
.tkt-icon-caret-up {
  &:before {
    content: $icon-caret-up;
  }
}
.tkt-icon-caret-left {
  &:before {
    content: $icon-caret-left;
  }
}
.tkt-icon-caret-right {
  &:before {
    content: $icon-caret-right;
  }
}
.tkt-icon-sort {
  &:before {
    content: $icon-sort;
  }
}
.tkt-icon-unsorted {
  &:before {
    content: $icon-unsorted;
  }
}
.tkt-icon-sort-desc {
  &:before {
    content: $icon-sort-desc;
  }
}
.tkt-icon-sort-down {
  &:before {
    content: $icon-sort-down;
  }
}
.tkt-icon-sort-asc {
  &:before {
    content: $icon-sort-asc;
  }
}
.tkt-icon-sort-up {
  &:before {
    content: $icon-sort-up;
  }
}
.tkt-icon-exchange {
  &:before {
    content: $icon-exchange;
  }
}
.tkt-icon-cloud-download {
  &:before {
    content: $icon-cloud-download;
  }
}
.tkt-icon-cloud-upload {
  &:before {
    content: $icon-cloud-upload;
  }
}
.tkt-icon-angle-left {
  &:before {
    content: $icon-angle-left;
  }
}
.tkt-icon-angle-right {
  &:before {
    content: $icon-angle-right;
  }
}
.tkt-icon-angle-up {
  &:before {
    content: $icon-angle-up;
  }
}
.tkt-icon-angle-down {
  &:before {
    content: $icon-angle-down;
  }
}
.tkt-icon-tablet {
  &:before {
    content: $icon-tablet;
  }
}
.tkt-icon-mobile {
  &:before {
    content: $icon-mobile;
  }
}
.tkt-icon-mobile-phone {
  &:before {
    content: $icon-mobile-phone;
  }
}
.tkt-wrapper .fa.fa-spinner,
.tkt-icon-spinner {
  &:before {
    content: $icon-spinner;
  }
}
.tkt-icon-info {
  &:before {
    content: $icon-info;
  }
}
.tkt-icon-exclamation {
  &:before {
    content: $icon-exclamation;
  }
}
.tkt-icon-chevron-circle-left {
  &:before {
    content: $icon-chevron-circle-left;
  }
}
.tkt-icon-chevron-circle-right {
  &:before {
    content: $icon-chevron-circle-right;
  }
}
.tkt-icon-chevron-circle-up {
  &:before {
    content: $icon-chevron-circle-up;
  }
}
.tkt-icon-chevron-circle-down {
  &:before {
    content: $icon-chevron-circle-down;
  }
}
.tkt-icon-unlock-alt {
  &:before {
    content: $icon-unlock-alt;
  }
}
.tkt-wrapper .fa.fa-ticket,
.tkt-icon-ticket {
  &:before {
    content: $icon-ticket;
  }
}
.tkt-icon-minus-square {
  &:before {
    content: $icon-minus-square;
  }
}
.tkt-icon-minus-square-o {
  &:before {
    content: $icon-minus-square-o;
  }
}
.tkt-icon-level-up {
  &:before {
    content: $icon-level-up;
  }
}
.tkt-wrapper .fa.fa-lelvel-down-alt,
.tkt-icon-level-down {
  &:before {
    content: $icon-level-down;
  }
}
.tkt-icon-check-square {
  &:before {
    content: $icon-check-square;
  }
}
.tkt-icon-sort-alpha-desc {
  &:before {
    content: $icon-sort-alpha-desc;
  }
}
.tkt-icon-sort-amount-asc {
  &:before {
    content: $icon-sort-amount-asc;
  }
}
.tkt-icon-sort-amount-desc {
  &:before {
    content: $icon-sort-amount-desc;
  }
}
.tkt-icon-sort-numeric-asc {
  &:before {
    content: $icon-sort-numeric-asc;
  }
}
.tkt-icon-sort-numeric-desc {
  &:before {
    content: $icon-sort-numeric-desc;
  }
}
.tkt-icon-thumbs-up {
  &:before {
    content: $icon-thumbs-up;
  }
}
.tkt-icon-thumbs-down {
  &:before {
    content: $icon-thumbs-down;
  }
}
.tkt-icon-long-arrow-down {
  &:before {
    content: $icon-long-arrow-down;
  }
}
.tkt-icon-long-arrow-up {
  &:before {
    content: $icon-long-arrow-up;
  }
}
.tkt-icon-long-arrow-left {
  &:before {
    content: $icon-long-arrow-left;
  }
}
.tkt-icon-long-arrow-right {
  &:before {
    content: $icon-long-arrow-right;
  }
}
.tkt-wrapper .fa.fa-trash,
.tkt-icon-trash {
  &:before {
    content: $icon-trash;
  }
}
.tkt-icon-cart-plus {
  &:before {
    content: $icon-cart-plus;
  }
}
.tkt-wrapper .fa.fa-cart-arrow-down,
.tkt-icon-cart-arrow-down {
  &:before {
    content: $icon-cart-arrow-down;
  }
}
.tkt-icon-user-plus {
  &:before {
    content: $icon-user-plus;
  }
}
.tkt-icon-user-times {
  &:before {
    content: $icon-user-times;
  }
}
.tkt-icon-bed {
  &:before {
    content: $icon-bed;
  }
}
.tkt-icon-hotel {
  &:before {
    content: $icon-hotel;
  }
}
.tkt-icon-train {
  &:before {
    content: $icon-train;
  }
}
.tkt-icon-subway {
  &:before {
    content: $icon-subway;
  }
}
.tkt-icon-wheelchair-alt {
  &:before {
    content: $icon-wheelchair-alt;
  }
}
.tkt-icon-question-circle-o {
  &:before {
    content: $icon-question-circle-o;
  }
}
.tkt-icon-blind {
  &:before {
    content: $icon-blind;
  }
}
.tkt-icon-assistive-listening-systems {
  &:before {
    content: $icon-assistive-listening-systems;
  }
}
.tkt-icon-deaf {
  &:before {
    content: $icon-deaf;
  }
}
.tkt-icon-deafness {
  &:before {
    content: $icon-deafness;
  }
}
.tkt-icon-hard-of-hearing {
  &:before {
    content: $icon-hard-of-hearing;
  }
}
.tkt-icon-low-vision {
  &:before {
    content: $icon-low-vision;
  }
}
.tkt-wrapper .fa.fa-address-book,
.tkt-icon-address-book {
  &:before {
    content: $icon-address-book;
  }
}
.tkt-icon-address-book-o {
  &:before {
    content: $icon-address-book-o;
  }
}
.tkt-icon-user-o {
  &:before {
    content: $icon-user-o;
  }
}
.tkt-icon-drivers-license {
  &:before {
    content: $icon-drivers-license;
  }
}
.tkt-icon-id-card {
  &:before {
    content: $icon-id-card;
  }
}
.tkt-icon-drivers-license-o {
  &:before {
    content: $icon-drivers-license-o;
  }
}
.tkt-icon-id-card-o {
  &:before {
    content: $icon-id-card-o;
  }
}
