$tkt-icon-font-family: "tkt-icons" !default;
$tkt-icon-font-path: "./fonts" !default;

@font-face {
  font-family: '#{$tkt-icon-font-family}';
  src:  url('#{$tkt-icon-font-path}/#{$tkt-icon-font-family}.eot');
  src:  url('#{$tkt-icon-font-path}/#{$tkt-icon-font-family}.eot#iefix') format('embedded-opentype'),
    url('#{$tkt-icon-font-path}/#{$tkt-icon-font-family}.ttf') format('truetype'),
    url('#{$tkt-icon-font-path}/#{$tkt-icon-font-family}.woff') format('woff'),
    url('#{$tkt-icon-font-path}/#{$tkt-icon-font-family}.svg##{$tkt-icon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="tkt-icon-"], [class*=" tkt-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$tkt-icon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icon-mobile       : "\e905";
$icon-user         : "\e900";
$icon-profile      : "\e900";
$icon-account      : "\e900";
$icon-avatar       : "\e900";
$icon-info         : "\ea0c";
$icon-smartphone   : "\e907";
$icon-phone        : "\e906";
$icon-ticket1      : "\e904";
$icon-checkmark    : "\e908";
$icon-shopping-cart: "\e901";
$icon-ticket       : "\e902";
$icon-trash        : "\e903";
$icon-log-out      : "\e909";
$icon-log-in       : "\e90a";


.tkt-icon-mobile {
  &:before {
    content: $icon-mobile;
  }
}
.tkt-icon-user {
  &:before {
    content: $icon-user;
  }
}
.tkt-icon-profile {
  &:before {
    content: $icon-profile;
  }
}
.tkt-icon-account {
  &:before {
    content: $icon-account;
  }
}
.tkt-icon-avatar {
  &:before {
    content: $icon-avatar;
  }
}
.tkt-icon-info {
  &:before {
    content: $icon-info;
  }
}
.tkt-icon-smartphone {
  &:before {
    content: $icon-smartphone;
  }
}
.tkt-icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.tkt-icon-ticket1 {
  &:before {
    content: $icon-ticket1;
  }
}
.tkt-icon-checkmark {
  &:before {
    content: $icon-checkmark;
  }
}
.tkt-icon-shopping-cart {
  &:before {
    content: $icon-shopping-cart;
  }
}
.tkt-icon-ticket {
  &:before {
    content: $icon-ticket;
  }
}
.tkt-icon-trash {
  &:before {
    content: $icon-trash;
  }
}
.tkt-icon-log-out {
  &:before {
    content: $icon-log-out;
  }
}
.tkt-icon-log-in {
  &:before {
    content: $icon-log-in;
  }
}