#tkt_articles {
    .article-variants-form {
        display: none;

        width: 933px;
        height: 1408px;
        background: url('../images/articles/bg_popup.png');
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 60px;
        text-align: center;
        font-family: Lato;

        .close-variants {
            width: 53px;
            height: 53px;
            background: url('../images/articles/close_popup.png');
            position: absolute;
            top: 30px;
            right: 30px;
        }
        .variants-title { font-size: 33px; }
        .variants-article-name { font-size: 45px; }
        .poster-wrapper { margin: 30px auto; }
        .variants-subtitle { font-size: 33px; }
        .variants-wrapper {
            padding: 30px 55px 0;
            .variant-wrapper {
                .variant-name {
                    width: 240px;
                    text-align: left;
                    font-size: 22px;
                }
                .variant-sub {
                    display: inline-block;
                    width: 32px;
                    height: 36px;
                    background: url('../images/articles/left_arrow.png');
                    margin-top: 9px;
                }
                .variant-quantity {
                    width: 53px;
                    height: 53px;
                    background: url('../images/articles/round_small.png');
                    line-height: 53px;
                    font-size: 22px;
                }
                .variant-add {
                    display: inline-block;
                    width: 32px;
                    height: 36px;
                    background: url('../images/articles/right_arrow.png');
                    margin-top: 9px;
                }
                .variant-price {
                    text-align: right;
                    font-size: 22px;
                }
            }
            .variant-total-row {
                height: 80px;
                .variant-total-label,
                .variant-total {
                    text-align: right;
                    font-size: 25px;
                }
            }
        }
        .variants-error,
        .variants-submit-error {
            display: inline-block;
            font-size: 30px;
            color: #FF0000;
            display: none;
        }

        .variants-submit {
            display: inline-block;
            width: 171px;
            height: 171px;
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translate(-50%, 0);
            background: url('../images/articles/go_btn.png');
            line-height: 171px;
            font-size: 27px;
            color: #FFFFFF;
        }
    }
}
