.tkt-article {
    .infos-section {
        .name {
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

body.single-tkt-article {
    header.entry-header {
        /* title is handled by the tkt-article template */
        display: none;
    }
}
