.tkt-article {
    .infos-section {
        background: #F0F0F0;

        .name {
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .buy-section {
        background: #212121;
    }
}

body.single-tkt-article {
    header.entry-header {
        /* title is handled by the tkt-article template */
        display: none;
    }
}
