.tkt-cart {
  .empty-cart-title {
    text-align: center;
  }

  .tkt-cart-table {
    width: 100%;
    margin-bottom: 0;

    thead {
      tr {
        th {
          font-weight: bold;
        }
      }
    }

    tbody {
      tr {
        td {
          line-height: 1.5rem;

          &.title-cell {}
          &.expire-cell {}
          &.price-cell {}
          &.action-cell {
            font-family: Arial;
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;

            &:hover {
              color: $active_color;
            }
          }
        }
      }
    }

    tfoot {
      tr {
        td {
          padding-top: 1.0rem;
          text-transform: uppercase;
          text-align: right;
        }
      }
    }
  }

  .use-promo-code-wrapper {
    text-align: left;
    .input-group{
      .promo-code-input.form-control::placeholder {
        height: calc(2.25rem + 13px);
        font-size: 16px;
      }
      .promo-code-input.form-control {
        height: calc(2.25rem + 13px);
        font-size: 1.4rem;
      }

    }
  }

  .use-wallet-wrapper {
    text-align: left;
  }

  .finish-cart-wrapper {
    text-align: right;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    .finish-cart-btn {

    }
  }

  .cancel-order-wrapper {
    text-align: right;

    .cancel-order {

    }
  }

  .continue-shopping-wrapper {
    text-align: right;

    .continue-shopping {
      
    }
  }
}
