.tkt_event {
    .carousel-section {
        color: $dark_section_text_color;
        background-color: $dark_section_bg_color;
        border: 1px solid darken($dark_section_bg_color, 5%);
    }
    .infos-section {
        .synopsis {
            .text {
                display: inline-block;
                text-align: justify;
            }
        }
    }

    .movies-section {
        color: $dark_section_text_color;
        background-color: $dark_section_bg_color;
        border: 1px solid darken($dark_section_bg_color, 5%);

        .tkt-section-title {
            margin-bottom: 1rem;
        }
        .movies-wrapper {
            .movie-wrapper {
                margin-bottom: 1rem;
                .movie-poster {
                    height: 100%;
                    min-height: 200px;
                    background-size: cover;
                }
                .movie-title {
                    font-weight: bold;

                    a {
                        color: $text_color;
                        text-decoration: none;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
                .movie-infos {
                    font-style: italic;
                }
            }
        }
    }

    .book-section {
        .show-booking-form {
            display: block;
            margin-top: 1rem;

            .show-if-bookable {}

            .show-if-almost-not-bookable {}
        }
    }
}

/* title and content are handled by the tkt-event template */
body.single-tkt-event {
    header.entry-header,
    .entry-content > p {
        display: none;
    }
}
article.type-tkt-event {
    .entry-title,
    .entry-content > p {
        display: none;
    }
}
