.tkt_event {
  #event-carousel {
    width: $slider_width;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 1.5rem;

    .carousel-control-prev {
      left: -100px;
      opacity: 1;

      .carousel-control-prev-icon {
        width: 13px;
        height: 60px;
        background-image: url('../images/slider/left.png');
      }
    }

    .carousel-control-prev:hover {
      .carousel-control-prev-icon {
        background-image: url('../images/slider/hover/left.png');
      }
    }

    .carousel-control-next {
      right: -100px;
      opacity: 1;
      .carousel-control-next-icon {
        width: 14px;
        height: 60px;
        background-image: url('../images/slider/right.png');
      }
    }

    .carousel-control-next:hover {
      .carousel-control-next-icon {
        background-image: url('../images/slider/hover/right.png') !important;
      }
    }

    .carousel-item {
      img {
        max-width: 924px;
      }
    }

    .yt-video-image {
        max-width: 924px;
    }
  }

  .left-col {
    .screening-date {
      text-transform: uppercase;
      font-size: 1.8rem;
      line-height: 1.0rem;
    }
    .title {
      text-transform: uppercase;
      font-size: 2.8rem;
      line-height: 2.2rem;
    }
    .genre {
      text-transform: uppercase;
      font-size: 1.3rem;
      line-height: 1.2rem;
      display: block;
      margin-top: 0.7rem;
    }
    .free-text-one {
      p {
        text-transform: uppercase;
        font-size: 1rem;
        line-height: 1rem;
        display: block;
      }
    }
  }

  .right-col {
    .infos {
      ul {
        list-style-type: none;
      }

      * {
        font-size: 1.0rem;
        line-height: 1.0rem;
        text-transform: uppercase;
      }

      a {
          color: #fff !important;
      }
    }
  }

  .synopsis {
    margin-top: 1.9rem;
    .title {
      display: block;
      text-transform: uppercase;
      font-size: 1.3rem;
      line-height: 1.3rem;
    }
    .text {
      display: inline-block;
      text-align: justify;
      font-size: 1.3rem;
      line-height: 1.3rem;
    }
  }

  .show-booking-form {
    display: block;
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 1.7rem;
    line-height: 1.4rem;
  }
  .screening-complete {
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}
