.tkt_event {
  .carousel-section {
      background: #212121;
  }
  .infos-section {
    .synopsis {
      .title {
        display: block;
        text-transform: uppercase;
        font-size: 1.3rem;
        line-height: 1.3rem;
      }
      .text {
        display: inline-block;
        text-align: justify;
        font-size: 1.3rem;
        line-height: 1.8rem;
      }
    }

    .left-col {
      .screening-date {
        text-transform: uppercase;
        font-size: 1.8rem;
        line-height: 1.0rem;

        p {
          text-transform: uppercase;
          font-size: 1.8rem;
          line-height: 1.8rem;
        }
      }
      .title {
        text-transform: uppercase;
        font-size: 1.8rem;
        line-height: 1.2rem;
      }
      .genre {
        text-transform: uppercase;
        font-size: 1.3rem;
        line-height: 1.2rem;
        display: block;
        margin-top: 0.7rem;
        margin-bottom: 0.4rem;
      }
      .free-text-one {
        p {
          text-transform: uppercase;
          font-size: 1rem;
          line-height: 1rem;
          display: block;
        }
      }
    }
  }

  .movies-section {
    background: #E6E6E6;

    .tkt-section-title {
      margin-bottom: 1rem;
    }
    .movies-wrapper {
      .movie-wrapper {
        margin-bottom: 1rem;
        .movie-poster {
            height: 100%;
            min-height: 200px;
            background-size: cover;
        }
        .movie-title {
            font-weight: bold;

            a {
                color: $text_color;
                text-decoration: none;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
      }
    }
  }

  .book-section {
    .show-booking-form {
      display: block;
      margin-top: 1rem;
      text-transform: uppercase;
      font-size: 1.7rem;
      line-height: 1.4rem;

      .show-if-bookable {
        font-size: 1.7rem !important;
      }

      .show-if-almost-not-bookable {
        font-size: 1.1rem;
      }
    }
  }
}

body.single-tkt-event {
    header.entry-header,
    .entry-content > p {
        /* title is handled by the kt-event template */
        display: none;
    }
}
