.tkt-wrapper {
    form {
        label {
            &.required {
                &:after {
                    content: " *";
                    color: #f00;
                }
            }
        }

        .alert {
            display: none;
            display: none;
        }
    }

    #notice-required {
        &:before {
            content: "* ";
            color: #f00;
        }
    }
}

.image-preview {
    width: 200px !important;
    margin-top: 15px;
    height: auto;
    display: block;
}

