#tkt_program {
  .tkt_program_screening {
    padding-bottom: 1.1rem;

    .screening-inner {
      > .row {
        position: relative;
        padding-top: 15px;

        .poster-background {
          position: absolute;
          top: 0;
          width: 100%;
          height: calc(100% + 15px);
          background-repeat: no-repeat;
          background-size: cover;

          .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
          }
        }
        .left-col {
          .poster-wrapper {
            img.poster {
            }
          }
        }
        .right-col {
          .date {
            text-transform: uppercase;
            font-size: 1.8rem;
            line-height: 1.0rem;
          }
          .title {
            text-transform: uppercase;
            font-size: 3.0rem;
            line-height: 2.8rem;
          }
          .genre {
            text-transform: uppercase;
            font-size: 1.5rem;
            line-height: 1.3rem;
            display: inline-block;
            margin-top: 0.7rem;
          }
          .more-infos {
            text-transform: uppercase;
            font-size: 1.2rem;
            line-height: 1.2rem;
            display: inline-block;
            margin-top: 1.8rem;
            vertical-align: bottom;
          }
          .tickets {
            text-transform: uppercase;
            font-size: 1.2rem;
            line-height: 1.2rem;
            display: block;
          }
          .screening-complete {
            text-transform: uppercase;
            font-size: 1.2rem;
            line-height: 1.2rem;
          }
        }

        &:first-child {
          padding-top: 10px;
        }
      }
    }
  }

  .tkt_program_event {
    @extend .tkt_program_screening;

    .event-inner {
      @extend .screening-inner;

      .event-complete {
        @extend .screening-complete;
      }
    }
  }
}

@media (min-width: 992px) {
  #tkt_program {
    .tkt_program_screening {
      padding-bottom: 1.5rem;

      .screening-inner {
        > .row {
          .right-col {
            .tickets {
              margin-bottom: -0.5rem;
            }
          }
        }
      }
    }
  }
}
