#tkt_program {
    margin: 0 auto;
    ul.tkt-filters {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        li.tkt-filter {
            &:hover,
            &.active {
                .tkt-filter-name {
                    background: #791e88;
                }
            }

            .tkt-filter-name {
                display: block;
                background: #000000;
                color: #FFFFFF;
                margin: 0 7px;
                padding: 2px 7px;
                cursor: pointer;
            }

            .tkt-filter-date {
                display: block;
                text-align: center;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }

    .tkt_program_screening {
        padding-bottom: 1.1rem;

        .screening-inner {
            > .row {
                position: relative;
                padding-top: 15px;

                .poster-background {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: calc(100% + 15px);
                    background-repeat: no-repeat;
                    background-size: cover;

                    .overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                }
                .left-col {
                    .poster-wrapper {
                        img.poster {
                        }
                    }
                }
                .right-col {
                    .date {
                        p {
                            margin-bottom: 5px;
                        }
                    }
                    .title {}
                    .genre {
                        display: inline-block;
                    }
                    .more-infos {
                        display: inline-block;
                        vertical-align: bottom;
                    }
                    .tickets {
                        display: block;
                    }
                    .screening-complete {
                        font-weight: bold;
                    }
                }

                &:first-child {
                    padding-top: 10px;
                }
            }
        }
    }

    .tkt_program_event {
        @extend .tkt_program_screening;

        .event-inner {
            @extend .screening-inner;

            .event-complete {
                @extend .screening-complete;
            }
        }
    }
}

#tkt_program.tkt-gallery {
    .tkt_program_screening {
        padding-bottom: 0 !important;

        .poster-wrapper {
            height: 100%;
            width: 100%;

            a {
                background-size: cover;
                background-position: center center;
                width: 100%;
                height: 100%;

                img {
                    margin: 0 10px;
                    width: calc(100% - 20px);
                    height: calc(100% - 10px);
                }

                &:hover {
                    .event-infos {
                        display: flex;
                    }
                }

                .event-infos {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 10px;
                    right: 10px;
                    bottom: 10px;
                    background: rgba(0, 0, 0, 0.5);
                    justify-content: center;
                    align-items: center;

                    span {
                        text-transform: uppercase;
                        color: #FFFFFF;
                        text-align: center;
                    }
                }
            }
        }
    }

    .tkt_program_event {
        @extend .tkt_program_screening;

        .tkt-wrapper.event-inner {
            position: relative;

            .poster-wrapper {
                img {
                    display: block;
                    margin: 0 auto;
                }
            }

            .infos-wrapper {
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                display: none;
                overflow: hidden;
                padding: 10px;
                background: rgba(0, 0, 0, 0.8);
                text-align: center;
                flex-direction: column;
                justify-content: center;
            }

            &:hover {
                .infos-wrapper {
                    display: flex;

                    a, a:visited, a:hover {
                        color: #FFFFFF;
                    }

                    span.title {
                        a {
                            color: #FFFFFF;
                            font-weight: bold;
                        }
                    }

                    span.genre {
                        color: #FFFFFF;
                    }

                    span.more-infos {
                        a:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

            .screenings-wrapper {
                margin: 0.7rem 0;
                overflow-y: auto;
                /* hide scrollbar */
                margin-right: -25px;
                padding-right: 25px;

                .screening-btn {
                    padding: 5px 10px;
                    margin: 5px 0;
                    border-radius: 9px;
                    line-height: 15px;

                    a {
                        display: flex;
                        flex-direction: column;

                        .screening-btn-tags {
                            padding-left: 20px;
                            text-align: left;
                        }
                    }

                    a, a:visited, a:hover {
                        color: #121212;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    #tkt_program {
        .tkt_program_screening {
            padding-bottom: 1.5rem;

            .screening-inner {
                > .row {
                    .right-col {
                        .tickets {
                            margin-bottom: -0.2rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    #tkt_program {
        .tkt_program_screening {
            margin-bottom: 0.7rem;
        }
    }
}

.header_soon {
    height:10%;
}

.slider_soon {
    height:90%;
}
