#tkt_program {
    margin: 0 auto;
    ul.tkt-filters {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        li.tkt-filter {
            &:hover,
            &.active {
                .tkt-filter-name {
                    background: #791e88;
                }
            }

            .tkt-filter-name {
                display: block;
                background: #000000;
                color: #FFFFFF;
                margin: 0 7px;
                padding: 2px 7px;
                cursor: pointer;
            }

            .tkt-filter-date {
                display: block;
                text-align: center;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }

    .tkt_program_screening {
        padding-bottom: 1.1rem;
        .screening-inner {
            > .row {
                position: relative;
                padding-top: 15px;

                .poster-background {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: calc(100% + 15px);
                    background-repeat: no-repeat;
                    background-size: cover;

                    .overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                }

                .left-col {
                    .poster-wrapper {
                        img.poster {
                        }
                    }
                }
                .right-col {
                    .date {
                        p {
                            margin-bottom: 5px;
                        }
                    }
                    .title {}
                    .genre {
                        display: inline-block;
                    }
                    .more-infos {
                        display: inline-block;
                        vertical-align: bottom;
                    }
                    .tickets {
                        display: block;
                    }
                    .screening-complete {
                        font-weight: bold;
                    }
                }

                &:first-child {
                    padding-top: 10px;
                }
            }
        }
    }

    .tkt_program_event {
        @extend .tkt_program_screening;

        .event-inner {
            @extend .screening-inner;

            .infos-wrapper.h-75 {
                overflow: scroll;
                text-overflow: ellipsis;
            }

            .description {
                font-size: 15px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
            }

            .event-complete {
                @extend .screening-complete;
            }
        }
    }
}

#tkt_program.tkt-gallery {
    .tkt_program_screening {
        padding-bottom: 0 !important;

        .poster-wrapper {
            height: 100%;
            width: 100%;

            a {
                background-size: cover;
                background-position: center center;
                width: 100%;
                height: 100%;

                img {
                    margin: 0 10px;
                    width: calc(100% - 20px);
                    height: calc(100% - 10px);
                }

                &:hover {
                    .event-infos {
                        display: flex;
                    }
                }

                .event-infos {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 10px;
                    right: 10px;
                    bottom: 10px;
                    background: rgba(0, 0, 0, 0.5);
                    justify-content: center;
                    align-items: center;

                    span {
                        text-transform: uppercase;
                        color: #FFFFFF;
                        text-align: center;
                    }
                }
            }
        }
    }

    .tkt_program_event {
        @extend .tkt_program_screening;
        padding: 0 5px;
        .tkt-wrapper.event-inner {
            position: relative;

            .poster-wrapper {
                img {
                    display: block;
                    margin: 0 auto;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .infos-wrapper {
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                display: none;
                overflow: hidden;
                padding: 10px;
                background: rgba(0, 0, 0, 0.8);
                text-align: center;
                flex-direction: column;
                justify-content: center;
            }

            &:hover {
                .infos-wrapper {
                    display: flex;

                    a, a:visited, a:hover {
                        color: #FFFFFF;
                    }

                    span.title {
                        a {
                            color: #FFFFFF;
                            font-weight: bold;
                        }
                    }

                    span.genre {
                        color: #FFFFFF;
                    }

                    span.more-infos {
                        a:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

            .screenings-wrapper {
                margin: 0.7rem 0;
                overflow-y: auto;
                /* hide scrollbar */
                margin-right: -25px;
                padding-right: 25px;

                .screening-btn {
                    padding: 5px 10px;
                    margin: 5px 0;
                    border-radius: 9px;
                    line-height: 15px;

                    a {
                        display: flex;
                        flex-direction: column;

                        .screening-btn-tags {
                            padding-left: 20px;
                            text-align: left;
                        }
                    }

                    a, a:visited, a:hover {
                        color: #121212;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

#tkt_program.tkt-blocks {
    .tkt_program_screening {
        .screening-inner {
            .img-fluid.poster {
                object-fit: cover;
            }
            .description {
                font-size: 15px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
            }
        }
    }
}
#tkt_program.tkt-agenda {
    .tkt_agenda_day {
        &.hidden {
            display: none;
        }

        .day_title_wrapper {
            background: $dark_section_bg_color;
            color: $dark_section_text_color;
            border-radius: $border_radius;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            margin-bottom: 10px;

            .day_title {
                margin: 0;
            }

            .arrow {
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                cursor: pointer;

                &.arrow-left {
                    border-right:10px solid $dark_section_text_color;

                    &.inactive {
                        border-right-color: #656565;
                    }
                }

                &.arrow-right {
                    border-left: 10px solid $dark_section_text_color;

                    &.inactive {
                        border-left-color: #656565;
                    }
                }
            }
        }
        .tkt_program_screenings {
            .tkt_program_screening {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 0;
                border-bottom: 1px solid $dark_section_bg_color;

                .tkt_screening_date {
                    background-color: $badge_active_bg_color;
                    color: $badge_active_text_color;
                    border-radius: 15px;
                    padding: 3px;

                    .tkt_screening_link {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        text-decoration: none !important;


                        .date {
                            padding: 0 10px;
                            color: $badge_active_text_color;
                            font-weight: bold;
                            font-size: 16px;
                        }
                    }
                }

                .tkt_screening_title {
                    flex: 1;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding-left: 10px;

                    .dot {
                        background-color: $dark_section_bg_color;
                    }

                    .tkt_screening_link {
                        color: $dark_section_bg_color;
                        padding-left: 10px;
                        font-weight: normal;
                        font-size: 16px;
                    }
                }

                .tkt_screening_audio {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 16px;
                }
            }
        }

        .dot {
            display: inline-block;
            background-color: $badge_active_text_color;
            border-radius: 15px;
            width: 7px;
            height: 7px;

            &.color {
                background-color: $badge_active_bg_color;
            }
        }
    }

    .tkt-agenda-modal {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;

        .tkt-agenda-modal-blur {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            backdrop-filter: blur(4px);
            background-color: rgba($badge_active_bg_color, 0.5);
            z-index: 2;
        }

        .tkt-agenda-modal-content {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 3;
            transform: translate(-50%, -50%);
            width: 800px;
            max-width: 100%;
            background: #FFFFFF;
            box-shadow: 5px 5px 17px 1px #666;
            border-radius: 12px;
            padding: 40px;

            .close-modal {
                cursor: pointer;
                position: absolute;
                top: 5px;
                right: 0px;
                width: 20px;
                height: 20px;
                font-size: 15px;
                color: $badge_active_bg_color;
            }

            .tkt-agenda-modal-header {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                .left {
                    color: $dark_section_bg_color;

                    .title {
                        line-height: 1.5rem;

                        small {
                            font-size: 16px;
                        }
                    }
                }
                .right {
                    .poster {
                        border-radius: $border_radius;
                        max-width: 300px;
                        max-height: 130px;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    #tkt_program {
        .tkt_program_screening {
            padding-bottom: 1.5rem;

            .screening-inner {
                > .row {
                    .image-wrapper {
                        height: fit-content;
                    }
                    .right-col {
                        .tickets {
                            margin-bottom: -0.2rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    #tkt_program {
        .tkt_program_screening {
            margin-bottom: 0.7rem;
        }
        .tkt_program_screening > .screening-inner .image-wrapper,
        .tkt_program_screening > .screening-inner .details,
        .tkt_program_event > .event-inner .image-wrapper,
            .tkt_program_event > .event-inner .details {
                width: 100% !important;
                aspect-ratio: auto;
        }
        .tkt_program_event >.event-inner .title {
            text-align: center;
      }
    }
  #tkt_program.tkt-agenda {
      .tkt_agenda_day {
          .day_title_wrapper {
              .day_title {}

              .arrow {
                  &.arrow-left {}
                  &.arrow-right {}
              }
          }
          .tkt_program_screenings {
              .tkt_program_screening {
                  .tkt_screening_date {
                      .tkt_screening_link {
                          .date {}
                      }
                  }
                  .tkt_screening_title {
                      .dot {}
                      .tkt_screening_link {}
                  }
                  .tkt_screening_audio {}
              }
          }
      }

      .tkt-agenda-modal {
          overflow: auto;
          display: flex;
          align-items: center;

          .tkt-agenda-modal-blur {}

          .tkt-agenda-modal-content {
              position: static;
              max-width: calc(100% - 40px);
              margin: 0 20px;
              top: unset;
              left: unset;
              transform: none;
              padding: 20px;
              overflow: auto;


              .tkt-agenda-modal-header {
                  display: flex;
                  flex-direction: column;
                  .left {
                      .title {
                          line-height: 1.5rem;
                          small {}
                      }
                  }
                  .right {
                      width: 100%;
                      text-align: center;

                      .poster {
                        max-width: 100%;
                        max-height: fit-content;
                      }
                  }
              }
          }
      }
  }
}

.header_soon {
    height:10%;
}

.slider_soon {
    height:90%;
}
.slider_soon_portrait {
    height:100%;
}
