#tkt-shop {
    .tkt-articles-toolbar {
        background: #F0F0F0;
        padding: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #F0F0F0;

        .tkt-articles-sort {
            .form-group.row {
                margin-bottom: 0;
            }
        }
    }

    .tkt-article {
        .article-inner {
            border: solid 1px #F0F0F0;
            padding: 1rem;

            .article-out-of-stock {
                margin: auto;
                padding: 0 6px;
                display: inline-block;
                border: 1px solid darken($error_color, 10%);
                color: $error_color;
                font-size: 12px;
            }
            .add-to-cart {
                margin: auto;
            }
            .add-var-from-shop {
                margin-top: 5px;
            }
            .buy-article-form {
                position: fixed; /* Stay in place */
                z-index: 50; /* Sit on top */
                left: 0;
                top: 0;
                right: 0;
                bottom:0;
                overflow: auto; /* Enable scroll if needed */
                border-radius: 4px;
                text-align: center;
                background-color: rgba(0,0,0,0.95);

                .variants-form,
                .success-panel {
                    position: absolute;
                    z-index: 100;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    background: #717070;
                    padding: 10px;
                    border: 1px solid #9E9E9E;

                    .assertive,
                    .success-title {
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}
