#tkt-shop {
    .tkt-article {
        .article-inner {
            border: solid 1px #F0F0F0;
            padding: 1rem;
            .article-out-of-stock {
                margin: auto;
                padding: 0.3rem;
                display: inline-block;
                border: 1px solid darken($error_color, 10%);
                border-radius: 5px;
                background-color: $error_color;
                color: $btn_text_color;
                text-transform: uppercase;
            }
            .add-to-cart {
                margin: auto;
            }
            .add-var-from-shop {
                margin-top: 5px;
            }
            .buy-article-form {
                position: fixed; /* Stay in place */
                z-index: 50; /* Sit on top */
                left: 0;
                top: 0;
                right: 0;
                bottom:0;
                overflow: auto; /* Enable scroll if needed */
                border-radius: 4px;
                text-align: center;
                background-color: rgba(0,0,0,0.4);
                .variants-form {
                    position: absolute;
                    z-index: 100;
                    left: 35%;
                    top: 50%;
                }
            }
        }
    }
}
