# NOTE: keep in sync with app/helpers/config.class.php
CONFIG_VERSION: 2018090401

ticketack:
    # the Ticketack Engine URI.
    engine_uri: https://demo-engine.ticketack.com
    # the eshop URI.
    eshop_uri: https://demo.ticketack.com
    # the eshop user's Ticketack API key.
    api_key: ~
    # data requested when an eshop user buys a pass
    # available fields: firstname, lastname, address, zip, city, country, photo, age, sex, bypass-photo
    requested_pass_owner_data:
        # Use the ticket type id as key. use ~ is equivalent to []
        default: ["firstname", "lastname"] exemple with default value. If ticket id requested is not provided in config default is used.

kronos:
    # kronos username
    username: ~
    # kronos password
    password: ~


