# NOTE: keep in sync with app/helpers/config.class.php
CONFIG_VERSION: 2018091101

assets:
    # Useful to bump cache
    version: 1

ticketack:
    # the Ticketack Engine URI.
    engine_uri: https://demo-engine.ticketack.com
    # the eshop URI.
    eshop_uri: https://demo.ticketack.com
    # the eshop user's Ticketack API key.
    api_key: ~
    # data requested when an eshop user buys a pass
    # available fields: firstname, lastname, address, zip, city, country, photo, age, sex, bypass-photo
    requested_pass_owner_data:
        # Use the ticket type id as key. use ~ is equivalent to []
        default: ["firstname", "lastname"]

images:
    # images proxy
    proxy:
        # Uncomment and set to use our image proxy
        #proxy_img_key: secret-key
        #proxy_img_host: img.neto2.net
    # Images dimensions
    dimensions:
        # big size, used in program listing and event/screening details
        big:
            width: 924
            height: 520

kronos:
    # kronos username
    username: ~
    # kronos password
    password: ~


