.tkt-ticketid_ticket {
    font-family: Roboto,"Segoe UI", "Helvetica Neue",Arial,"Noto Sans",sans-serif;
    color: #e34449;
}
.tkt-ticketid_id {
    font-family: Roboto,"Segoe UI", "Helvetica Neue",Arial,"Noto Sans",sans-serif;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
.tkt-wrapper {
    a {
        color: $link_color;

        &:hover {
            color: darken($link_color, 10%);
        }
    }

    legend {
        border-bottom: 1px solid $text_color;
    }

    .active {
      color: $active_color;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
    }

    .flex-col {
        display: flex;
        flex-direction: column;
    }

    .justify-center {
        justify-content: center;
    }

    .justify-start {
        justify-content: flex-start;
    }

    .justify-end {
        justify-content: flex-end;
    }

    .justify-between {
        justify-content: space-between;
    }

    .items-center {
        align-items: center;
    }

    .items-start {
        align-items: flex-start;
    }

    .items-end {
        align-items: flex-end;
    }

    i.tkt-icon-info {
        color: #337ab7;
    }

    .tkt-no-margin {
        margin: 0;
    }

    .tkt-no-padding {
        padding: 0;
    }

    .tkt-section {
        padding: $section_padding;
        color: $light_section_text_color;
        background-color: $light_section_bg_color;
        border: 1px solid darken($light_section_bg_color, 5%);

        &.tkt-full-section {
            padding: 0;
        }

        .tkt-section-title {
            font-weight: normal;
            border-bottom: 1px solid $light_section_text_color;
        }
    }

    .tkt-dark-section {
        color: $dark_section_text_color;
        background-color: $dark_section_bg_color;
        border: 1px solid darken($dark_section_bg_color, 5%);

        .tkt-section-title {
            color: $dark_section_text_color;
            border-bottom: 1px solid $dark_section_text_color;
        }
    }

    .tkt-badge {
        color: $badge_text_color;
        background: $badge_bg_color;
        border: 1px solid darken($badge_bg_color, 10%);
        padding: 5px 15px;
        margin: 0.25rem 0;
        border-radius: $border_radius;

        &.active {
            color: $badge_active_text_color;
            background: $badge_active_bg_color;
            border: 1px solid darken($badge_active_bg_color, 10%);
        }
    }
    .tkt-badge-split {
        background: transparent;
        padding: 0;
        display: flex;
        flex-direction: row;
        border: none;
        border-top-left-radius: $border_radius;
        border-bottom-left-radius: $border_radius;
        .tkt-badge-part {
            background: $badge_bg_color;
            padding: 5px 15px;
            flex: 1;
            &:first-child {
                color: $badge_title_text_color;
                background: $badge_title_bg_color;
                border: 1px solid darken($badge_title_bg_color, 10%);
                border-top-left-radius: $border_radius;
                border-bottom-left-radius: $border_radius;
            }
            &:last-child {
                color: $badge_value_text_color;
                background: $badge_value_bg_color;
                border: 1px solid darken($badge_value_bg_color, 10%);
                border-top-right-radius: $border_radius;
                border-bottom-right-radius: $border_radius;
            }
        }
        &.tkt-badge-split-rev {
            .tkt-badge-part {
                &:first-child {
                    flex: 2;
                }
                &:last-child {
                    flex: 1;
                }
            }
        }
        &.tkt-badge-plus-minus {
            .tkt-badge-part {
                &:first-child {
                    color: $badge_value_text_color;
                    background-color: $badge_value_bg_color;
                    border-color: darken($badge_value_bg_color, 10%);
                    max-width: 50px;
                }
                &:last-child {
                    color: $badge_title_text_color;
                    background-color: $badge_title_bg_color;
                    border-color: darken($badge_title_bg_color, 10%);
                    max-width: 50px;

                    &.tkt-out-of-stock-badge  {
                        cursor: default !important;
                        background-color: $error_color;
                        border-color: darken($error_color, 10%);
                    }
                }
            }
        }
    }

    a.button,
    button.button {
      display: inline-block;
      color: $btn_text_color;
      background-color: $btn_bg_color;
      border: 1px solid darken($btn_bg_color, 10%);
      border-radius: $border_radius;
      moz-border-radius: $border_radius;
      webkit-border-radius: $border_radius;
      padding: 0.4rem;
      cursor: pointer;
      outline: none !important;

      &:hover {
        color: $btn_text_color;
        background-color: darken($btn_bg_color, 10%);
        text-decoration: none;
      }

      &.button-invert {
        color: $btn_bg_color;
        background-color: $btn_text_color;
        border-color: darken($btn_text_color, 10%);

          &:hover {
            background-color: darken($btn_text_color, 10%);
          }
      }

      &.button-small {
        font-size: 1rem;
        line-height: 1.2rem;
        padding: 0 1rem;
        height: 1.7em;
      }

      &:hover { }
    }

    .tkt-input {
      margin: 0;
      -webkit-appearance: none;
      -moz-appearance:textfield;

      &.form-control {
        color: $input_text_color;
        background-color: $input_bg_color;
        border: 1px solid darken($input_bg_color, 10%);
        max-width: 100%;

        &:focus {
           color: $input_text_color;
          background-color: lighten($input_bg_color, 5%);
          border-color: darken($input_bg_color, 10%);
          box-shadow: none;
        }
      }

      &.tkt-input-invert {
        background-color: $text_color;
        color: $btn_bg_color;
        border-color: darken($btn_bg_color, 2%);
      }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    .spin-icon {
        -webkit-animation: spin-icon 2s infinite linear;
        -moz-animation: spin-icon 2s infinite linear;
        -o-animation: spin-icon 2s infinite linear;
        animation: spin-icon 2s infinite linear;
    }

    @-moz-keyframes spin-icon {
        from { -moz-transform: rotate(0deg); }
        to { -moz-transform: rotate(360deg); }
    }
    @-webkit-keyframes spin-icon {
        from { -webkit-transform: rotate(0deg); }
        to { -webkit-transform: rotate(360deg); }
    }
    @keyframes spin-icon {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }
    @media screen and (max-width: 320px) {
        .tkt-badge-split {
            flex-direction: column;
            .tkt-badge-part {
                &:first-child {
                    &.tkt-badge-rounded {
                        border-radius: 15px 15px 0 0;
                        moz-border-radius: 15px 15px 0 0;
                        webkit-border-radius: 15px 15px 0 0;
                    }
                }
                &:last-child {
                    &.tkt-badge-rounded {
                        border-radius: 0 0 15px 15px;
                        moz-border-radius: 0 0 15px 15px;
                        webkit-border-radius: 0 0 15px 15px;
                    }
                }
            }
            &.tkt-badge-split-rev {
                .tkt-badge-part {
                    &:first-child {
                        flex: 2;
                    }
                    &:last-child {
                        flex: 1;
                    }
                }
            }
        }
    }
    .connect-panel {
        .ticket_connect {
            text-align: center;

            input#pass-id, input#pass-code {
                width: 40%;
                height: 40px;
            }
            .input-pass {
                justify-content: center;
            }
            #pass-code::placeholder, #pass-id::placeholder {
                opacity: 0.5;
            }
            .minus {
                width: 15%;
                font-size: 85px;
                line-height: 0.5;
                margin: 0px;
                padding: 0px;
            }
            span {
                line-height: 1.2rem;
            }
            .ticketid_ticket {
                font-family: Roboto,"Segoe UI", "Helvetica Neue",Arial,"Noto Sans",sans-serif;
                color: #e34449;
            }
            .ticketid_id {
                font-family: Roboto,"Segoe UI", "Helvetica Neue",Arial,"Noto Sans",sans-serif;
                color: #000;
                font-style: italic;
                font-weight: bold;
            }
            input {
                width: 100%;
                margin-top: 0.6rem;

                &.pass-key-input {}
                &.pass-number-input {}
            }

            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: lighten($text_color, 20%);
                opacity: 1; /* Firefox */
            }

            :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: lighten($text_color, 20%);
            }

            ::-ms-input-placeholder { /* Microsoft Edge */
                color: lighten($text_color, 20%);
            }

            .connect-btn {
                margin-top: 0.6rem;
                margin-bottom: 0.8rem;
            }
        }
    }
}
