$base_color: #000;
$active_color: #0056b3;         // Blue (links...)
$assertive_color: #0056b3;      // Orange (titles, ...)
$success_color: #ffffff;      // Orange (titles, ...)
$error_color: #f85050;      // Orange (titles, ...)
$dark_color: #000;
$grey_color: #333;;
$light_color: #FFFFFF;

$slider_width: 924px;
$slider_height: 520px;
$program_poster_width: 682px;
$program_poster_height: 384px;
